
body {
  margin: 0;
  padding: 0;
  background-color:rgb(235, 194, 141); /* light beige background, change as needed */
  font-family: Arial, sans-serif;
}




.Event-container {
  max-width: 400px;
  margin: 60px auto;
  padding: 30px 40px;
  background: antiquewhite;
  border-radius: 15px;
  box-shadow: 0 8px 20px rgba(176, 81, 81, 0.1);
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.Event-container h2 {
  margin-bottom: 25px;
  font-size: 28px;
  color: #2c3e50;
}

.Event-container label {
  display: block;
  text-align: left;
  margin-bottom: 5px;
  margin-top: 15px;
  font-weight: 500;
  color: rgb(10, 9, 8);
}

.Event-container input {
  width: 100%;
  padding: 10px 12px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 16px;
  box-sizing: border-box;
  transition: border-color 0.3s;
}

.Event-container input:focus {
  border-color: #2980b9;
  outline: none;
}

.Event-container button {
  margin-top: 20px;
  width: 100%;
  padding: 12px;
  background-color:rgb(227, 134, 11);
  color: white;
  font-size: 16px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.Event-container button:hover {
  background-color: brown;
}
