h2{
  color: blue;

}
/* body{
    background-color:rgb(243, 220, 10);
} */

.line{
    background-color: grey;
    width: 1px;
    height: 300px;
  }
.logincontainer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100 vh;
    margin-top: 150px;
  
  }

  .welcome{
    width: 50%;
    height: 100px;
    margin-bottom: 180px;
    font-size: larger;
    font-family: Arial, Helvetica, sans-serif;
     text-align: center;
     padding: 20px;
  
  }
  
  .form{
    width: 50%;
    text-align: center;
    padding: 20px;
  }
  input {
    display: block;
    width: 70%;
    height: 40px; /* consistent height */
    margin: 10px auto;
    padding: 0 10px; /* horizontal padding for spacing inside the box */
    border: 1px solid grey;
    border-radius: 5px;
    box-sizing: border-box; /* ensures padding doesn’t increase total width */
  }
  
 
  button{
   background-color: blue;
   color: aliceblue;
   padding: 10px 15px;
   border: none;
   border-radius: 5px;
   cursor: pointer;
}  

img{
    width: 150px;
    height: 150px;
    border-radius: 5px;
  }